.publisher {width:990px;margin:30px auto;}
.publisher h1 {font:28px/36px "Microsoft yahei","微软雅黑","黑体";text-align:center;font-weight:bold;}
.publisher form {margin:30px auto 0;width:900px;}
.publisher .article-title {font-size:16px;}
.publisher .article-title label {line-height:30px;}
.publisher .article-title input {padding:0 8px;height:30px;line-height:30px;width:250px;}
.publisher .article-content {margin-top:20px;}
.publisher .form-button {text-align:center;margin-top:20px;}
.publisher .form-button button {margin:0 10px;padding:5px 15px;cursor:pointer;border-radius:3px;background:#e6e6e6;border:1px solid #999;}
.publisher .form-button button:hover {background-color:#ddd;}
.publisher .form-button button:active {background-color:#ccc;}
