.gl-hd {margin-bottom:34px;}
.gl-hd h2 {font:18px/42px "Microsoft yahei","微软雅黑","黑体";font-weight:bold;}
.gl-tab {line-height:22px;padding-left:28px;background:url('../img/tab.png') 0 0 no-repeat;}
.gl-tab a,
.gl-tab span {float:left;color:#666;}
.gl-tab span {margin:0 12px;}
.gl-tab a.gl-tab-selected,
.gl-tab a.gl-tab-selected:hover {color:#ffa00a;text-decoration:none;}

.video-list li .video-play,
.video-list li figcaption {background:url("/video/img/sprites.png") -9999px -9999px no-repeat;}

.video {margin-top:16px;}

.video-list li {float:left;background:#fff;box-shadow:0 0 5px #ccc;margin-right:33px;margin-bottom:35px;}
.video-list li.last {margin-right:0;}
.video-list li a {display:block;}
.video-list li a:hover {text-decoration:none;color:#1290cb;}
.video-list li .video-image {width:260px;height:160px;text-align:center;overflow:hidden;position:relative;}
.video-list li .video-mask {
    width:100%;height:100%;background:#000;opacity:0;position:absolute;top:0;left:0;
    -webkit-transition:all 0.12s linear 0s;
    -moz-transition:all 0.12s linear 0s;
    -o-transition:all 0.12s linear 0s;
    -ms-transition:all 0.12s linear 0s;
    transition:all 0.12s linear 0s;
}
.video-list li .video-play {
    position:absolute;left:93px;top:43px;z-index:10;opacity:0;width:73px;height:73px;background-position:0 0;
    -webkit-transition:all 0.12s linear 0s;
    -moz-transition:all 0.12s linear 0s;
    -o-transition:all 0.12s linear 0s;
    -ms-transition:all 0.12s linear 0s;
    transition:all 0.12s linear 0s;
}
.video-list li figcaption {line-height:45px;height:45px;padding:0 14px 0 46px;background-position:14px -131px;}
.video-list li a:hover .video-mask {opacity:0.7;}
.video-list li a:hover .video-play {opacity:0.7;}
.video-list li a .video-play:hover {opacity:1;}
.video-list li a:hover figcaption {background-position:14px -87px;}

.video-catagory {margin-top:20px;}
.video-catagory-item {margin:7px;width:180px;height:180px;float:left;padding:6px 6px 6px 10px;overflow:hidden;position:relative;background:url("../img/shadow.png") 0 0 no-repeat;}
.video-catagory-image {height:140px;width:180px;overflow:hidden;cursor:pointer;}
.video-catagory-title {font:16px/40px "Microsoft yahei","微软雅黑","黑体";text-align:center;}

.video-play {margin-top:20px;padding:0 23px 25px;background:#fff;}
.video-play h1 {height:70px;font:22px/70px "Microsoft yahei","微软雅黑","黑体";}

.g-paginator {padding-top:20px;}