.gl-hd {margin-bottom:34px;}
.gl-hd h2 {font:18px/42px "Microsoft yahei","微软雅黑","黑体";font-weight:bold;}
.gl-tab {line-height:22px;padding-left:28px;background:url('../img/tab.png') 0 0 no-repeat;}
.gl-tab a,
.gl-tab span {float:left;color:#666;}
.gl-tab span {margin:0 12px;}
.gl-tab a.gl-tab-selected,
.gl-tab a.gl-tab-selected:hover {color:#ffa00a;text-decoration:none;}

.gl-main {margin-top:24px;}
.gl-main h1 {font:28px/36px "Microsoft yahei","微软雅黑","黑体";font-weight:bold;text-align:center;}
.gl-main .gl-desc {margin-top:12px;line-height:26px;text-indent:2em;font-size:14px;}


.album-cover {height:210px;padding:12px 15px;background:url('../img/gl.png') 0 0 no-repeat;width:150px;}
.album-cover a {height:210px;width:180px;text-align:center;display:table-cell;vertical-align:middle;overflow:hidden;}
.album-cover img {max-width:100%;max-height:100%;display:inline;vertical-align:middle;}
.album-title {font:18px/22px "Microsoft yahei","微软雅黑","黑体";font-weight:bold;#333;}
.album-eng {text-transform:uppercase;font-size:12px;line-height:22px;color:#4c4c4c;}
.album-loading {display:none;z-index:50;margin-left:-90px;margin-top:-20px;width:130px;font-size:14px;padding-left:45px;position:fixed;left:50%;top:50%;height:40px;line-height:40px;color:#fff;border-radius:6px;background:#000 url("../img/loading.gif") 10px center no-repeat;background-color:rgba(0, 0, 0, 0.8);}
.album-tip {visibility:hidden;;z-index:50;padding:0 20px;position:fixed;left:-200%;top:-200%;font-size:14px;margin-top:-20px;height:40px;line-height:40px;color:#fff;border-radius:6px;background:#000;background:rgba(0, 0, 0, 0.8);}

.all-albums {margin-top:15px;}
.all-albums .album-item {float:left;margin:0 40px 55px 0;width:180px;}
.all-albums .album-item-first {clear:both;}
.all-albums .album-item-last {margin-right:0;}
.all-albums .album-title {padding:0 15px;margin-top:10px;}
.all-albums .album-title em {font-size:14px;}
.all-albums .album-eng {padding:0 15px;}

.gl-albums {padding:0 83px 0 94px;margin-top:4px;}
.gl-albums li {padding:30px 0 20px 10px;position:relative;}
.gl-albums .album-cover {float:left;margin-right:40px;}
.gl-albums .album-detail {overflow:hidden;}
.gl-albums .album-desc {font-size:14px;line-height:26px;margin-top:10px;}
.gl-albums .album-show {text-align:right;margin-top:22px;}
.gl-albums .album-show a {font-weight:bold;font-size:14px;line-height:26px;color:#ffa00a;}
.gl-albums .album-show a:hover {text-decoration:none;color:#ff6600;}
.gl-albums .album-index {position:absolute;left:2px;top:18px;width:44px;height:44px;line-height:44px;border-radius:22px;background:#e90011;text-align:center;color:#fff;font-size:25px;font-family:"Microsoft yahei","微软雅黑","黑体";font-style:italic;}
.gl-albums .album-index em {position:relative;left:-2px;font-style:italic;}
