.gl-hd {margin-bottom:34px;}
.gl-hd h2 {font:18px/42px "Microsoft yahei","微软雅黑","黑体";font-weight:bold;}
.gl-tab {line-height:22px;padding-left:28px;background:url('../img/tab.png') 0 0 no-repeat;}
.gl-tab a,
.gl-tab span {float:left;color:#666;}
.gl-tab span {margin:0 12px;}
.gl-tab a.gl-tab-selected,
.gl-tab a.gl-tab-selected:hover {color:#ffa00a;text-decoration:none;}

.album-cover {height:210px;padding:12px 15px;background:url('../img/gl.png') 0 0 no-repeat;}
.album-cover a {height:210px;width:180px;text-align:center;display:table-cell;vertical-align:middle;overflow:hidden;}
.album-cover img {max-width:100%;max-height:100%;display:inline;vertical-align:middle;}
.album-title {font:18px/22px "Microsoft yahei","微软雅黑","黑体";font-weight:bold;#333;}
.album-eng {text-transform:uppercase;font-size:12px;line-height:18px;color:#4c4c4c;}
.album-loading {display:none;z-index:50;margin-left:-90px;margin-top:-20px;width:135px;font-size:14px;padding-left:45px;position:fixed;left:50%;top:50%;height:40px;line-height:40px;color:#fff;border-radius:6px;background:#000 url("../img/loading.gif") 10px center no-repeat;background-color:rgba(0, 0, 0, 0.8);}

.all-albums {margin-top:15px;}
.all-albums .album-item {float:left;margin:0 40px 55px 0;width:180px;}
.all-albums .album-item-last {margin-right:0;}
.all-albums .album-title {padding:0 15px;margin-top:10px;}
.all-albums .album-title em {font-size:14px;}
.all-albums .album-eng {padding:0 15px;}
